div.box {
    display: inline-block;
    background-color: blue;
}
div.container {
    width: 800px;
    height: 800px;
    display: block;
    border: 0;
    margin-left: 20%;
}
input {
    display: inline-block;
    margin-left: 45%;
}
div.red {
    background-color: red;
}